#call-modal.modal-call
    .modal-call-box
        h3.modal-call-ttl Заказать звонок
        .modal-call-sub-ttl Наш менеджер перезвонит вам в тичении 5 минут
        form.modal-call-form
            input.modal-call-field(type="text" placeholder="Ваше имя")
            input.modal-call-field(type="text" placeholder="Ваш номер")
            input.btn.btn-send(type="submit" value="Отправить")

