footer.foo
    .wrapper
        .foo-box
            .foo-menu
                ul.foo-menu-list
                    li
                        a(href="") Главная
                    li
                        a(href="") Оплата
                    li
                        a(href="") Доставка
                    li
                        a(href="") Сервис
                    li
                        a(href="") Контакты
                    li
                        a(href="") О нас
            .foo-logo-box
                a.foo-logo(href="")
                    img(src="img/logo-foo.png", alt="logo")
                .foo-copy © 2018  Все права защищены
            .foo-dev
                a.foo-dev-logo(href="")
                    img(src="img/respect.png", alt="respect")